/.idea/
/.idea/*
.idea/*
*/.idea/
.idea/
/venv/
venv/
*/*.pyc
/*.pyc
.pyc
.png
/*.png
pages/__pycache__/*.pyc
/pages/__pycache__/*.pyc
pages/locators/__pycache__/*.pyc
__pycache__/*.pyc
py-venv/lib/python3.7/site-packages/wcwidth/__pycache__/*.pyc
py-venv/lib/python3.7/site-packages/urllib3/util/__pycache__/*.pyc
py-venv/lib/python3.7/site-packages/urllib3/packages/ssl_match_hostname/__pycache__/*.pyc
py-venv/lib/python3.7/site-packages/urllib3/packages/backports/__pycache__/*.pyc
py-venv/lib/python3.7/site-packages/urllib3/contrib/__pycache__/*.pyc
py-venv/lib/python3.7/site-packages/urllib3/packages/*.pyc
py-venv/lib/python3.7/site-packages/traitlets/utils/__pycache__/*.pyc
py-venv/lib/python3.7/site-packages/traitlets/config/__pycache__/*.pyc
py-venv/lib/python3.7/site-packages/traitlets/__pycache__/*.pyc
py-venv/lib/python3.7/site-packages/selenium/webdriver/webkitgtk/__pycache__/*.pyc
py-venv/lib/python3.7/site-packages/selenium/webdriver/support/__pycache__/*.pyc
py-venv/lib/python3.7/site-packages/selenium/webdriver/safari/__pycache__/*.pyc
py-venv/lib/python3.7/site-packages/selenium/webdriver/remote/__pycache__/*.pyc
py-venv/lib/python3.7/site-packages/selenium/webdriver/phantomjs/__pycache__/*.pyc
py-venv/lib/python3.7/site-packages/selenium/webdriver/opera/__pycache__/*.pyc
py-venv/lib/python3.7/site-packages/selenium/webdriver/ie/__pycache__/*.pyc
py-venv/lib/python3.7/site-packages/selenium/webdriver/firefox/__pycache__/*.pyc
py-venv/lib/python3.7/site-packages/selenium/webdriver/edge/__pycache__/*.pyc
py-venv/lib/python3.7/site-packages/selenium/webdriver/common/html5/__pycache__/*.pyc
py-venv/lib/python3.7/site-packages/selenium/webdriver/common/actions/__pycache__/*.pyc
py-venv/lib/python3.7/site-packages/selenium/webdriver/common/__pycache__/*.pyc
py-venv/lib/python3.7/site-packages/selenium/webdriver/chrome/__pycache__/*.pyc
py-venv/lib/python3.7/site-packages/selenium/webdriver/blackberry/__pycache__/*.pyc
py-venv/lib/python3.7/site-packages/selenium/webdriver/android/__pycache__/*.pyc
py-venv/lib/python3.7/site-packages/selenium/webdriver/__pycache__/*.pyc
py-venv/lib/python3.7/site-packages/selenium/common/__pycache__/*.pyc
py-venv/lib/python3.7/site-packages/selenium/__pycache__/*.pyc
py-venv/lib/python3.7/site-packages/requests/__pycache__/*.pyc
pages/locators/__pycache__/__init__.cpython-37.pyc
pages/locators/__pycache__/articles_edp_page_locators.cpython-37.pyc
pages/locators/__pycache__/base_locators.cpython-37.pyc
pages/locators/__pycache__/header_locators.cpython-37.pyc
pages/locators/__pycache__/main_page_locators.cpython-37.pyc
pages/locators/__pycache__/side_main_page_locators.cpython-37.pyc
pages/locators/__pycache__/thewall_cdp_side_page_locators.cpython-37.pyc
pages/locators/__pycache__/thewall_edp_side_page_locators.cpython-37.pyc
pages/locators/__pycache__/articles_edp_page_locators.cpython-37.pyc                                                                                                                                                                                              n-37.pyc
pages/locators/__pycache__/header_locators.cpython-37.pyc
pages/locators/__pycache__/main_page_locators.cpython-37.pyc
pages/locators/__pycache__/photos_cdp_page_locators.cpython-37.pyc                                                                                                                                                                                               37.pyc
pages/locators/__pycache__/side_main_page_locators.cpython-37.pyc                                                                                                                                                                                               7.pyc
pages/locators/__pycache__/thewall_cdp_side_page_locators.cpython-37.pyc                                                                                                                                                                                               ython-37.pyc
pages/locators/__pycache__/thewall_edp_side_page_locators.cpython-37.pyc                                                                                                                                                                                               ython-37.pyc
pages/locators/__pycache__/articles_edp_page_locators.cpython-37.pyc
pages/locators/__pycache__/header_locators.cpython-37.pyc
pages/locators/__pycache__/main_page_locators.cpython-37.pyc
pages/locators/__pycache__/photos_cdp_page_locators.cpython-37.pyc
pages/locators/__pycache__/side_main_page_locators.cpython-37.pyc
pages/locators/__pycache__/thewall_cdp_side_page_locators.cpython-37.pyc
pages/locators/__pycache__/thewall_edp_side_page_locators.cpython-37.pyc
testsFront/__pycache__/chrome_test.cpython-37-pytest-5.2.1.pyc
testsTW/__pycache__/author_cdp_test.cpython-37-pytest-5.2.1.pyc
testsTW/__pycache__/author_edp_test.cpython-37-pytest-5.2.1.pyc
bmp.log
server.log
testsFront/__pycache__/ads_test.cpython-37-pytest-5.2.1.pyc
testsFront/__pycache__/dashboard_test.cpython-37-pytest-5.2.1.pyc
testsFront/bmp.log
testsFront/server.log
testsFront/test.json
testsTW/__pycache__/


      
.pytest_cache/v/cache/lastfailed
.pytest_cache/v/cache/nodeids
.pytest_cache/v/cache/stepwise
*.pytest_cache/v/cache/nodeids


